<template>
    <div class="color-ratio-calculator">
      <div v-if="ratio">
        <p>Contrast Ratio: {{ ratio }}</p>
        <div :style="{'background-color':'white'}">
            <p :style="{ color: accessibilityColor }">Accessibility: {{ accessibility }}</p>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      color1: {
        type: String,
        default: '#000000'
      },
      color2: {
        type: String,
        default: '#ffffff'
      }
    },
    data() {
      return {
        localColor1: this.color1,
        localColor2: this.color2,
      };
    },
    computed: {
      ratio() {
        const luminance1 = this.getLuminance(this.localColor1);
        const luminance2 = this.getLuminance(this.localColor2);
        const ratio = (Math.max(luminance1, luminance2) + 0.05) / (Math.min(luminance1, luminance2) + 0.05);
        return ratio.toFixed(2);
      },
    accessibility() {
        const ratio = parseFloat(this.ratio);
        if (ratio >= 7) {
          return 'GREAT';
        } else if (ratio >= 4.5) {
          return 'OK';
        } else if (ratio >= 3) {
          return 'BAD';
        } else {
          return 'Fail';
        }
      },
    accessibilityColor() {
        const ratio = parseFloat(this.ratio);
        if (ratio >= 7) {
            return '#006400'; 
        } else if (ratio >= 4.5) {
            return '#FF8C00'; 
        } else if (ratio >= 3) {
            return '#B8860B'; 
        } else {
            return '#8B0000'; 
        }
        }
    },
    methods: {
    getLuminance(color) {
        const rgb = this.hexToRgb(color);
        const a = rgb.map((v) => {
          v /= 255;
          return v <= 0.03928 ? v / 12.92 : Math.pow((v + 0.055) / 1.055, 2.4);
        });
        return a[0] * 0.2126 + a[1] * 0.7152 + a[2] * 0.0722;
    },
    hexToRgb(hex) {
        const bigint = parseInt(hex.slice(1), 16);
        const r = (bigint >> 16) & 255;
        const g = (bigint >> 8) & 255;
        const b = bigint & 255;
        return [r, g, b];
      }
    },
    watch: {
      color1(newColor) {
        this.localColor1 = newColor;
      },
      color2(newColor) {
        this.localColor2 = newColor;
      }
    }
  };
  </script>
  
  <style scoped>
  .color-ratio-calculator {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-top: 20px; */
  }
  label {
    margin-right: 10px;
  }
  input[type="color"] {
    margin-bottom: 20px;
  }
  </style>