
<template>
    <div class="styling-guidelines-buttons">
        <div class="styling-template-container">
            
            <h1>
                Buttons
            </h1>

            <div>
                
                Color palette from Quasar
                <q-btn color="primary" label="primary"/>   
                <q-btn color="secondary" label="secondary"/> 
                <q-btn color="accent" label="accent"/>    
                <q-btn color="dark" label="dark"/>      
                <q-btn color="positive" label="positive"/>  
                <q-btn color="negative" label="negative"/>  
                <q-btn color="info" label="info"/>      
                <q-btn color="warning" label="warning"/>   

            </div>
        </div>
        <div class="styling-template-container">

            <div>
                <h4>Disable</h4>
                <div>
                    Toggle disable
                    <q-btn-toggle
                    v-model="toggleButton"
                    toggle-color="positive"
                    :options="[
                        {label: 'ON', value: 'ON'},
                        {label: 'OFF', value: 'OFF'},
                    ]"
                     @click="isDisabled =!isDisabled"
                     />
                </div>
                <div>
                    Disabled using :disable prop
                    <q-btn  color="primary"  label="Start" :disable="isDisabled"/>
                </div>
                <div>
                    Disabled using :disable prop + change color

                    <q-btn  :color="isDisabled? 'grey' : 'primary'"  label="Start" :disable="isDisabled"/>
                </div>
            </div>
        </div>
        <div class="styling-template-container">
                
            <div>
                <h4>
                    Enum states
                </h4>
                <div>
                    Outline
                    <q-btn-group push>
                        <q-btn outline color="primary"  label="Active"  />
                        <q-btn outline label="Not active" />
                        <q-btn outline disable label="disabled" :color="'grey'"  />
                    </q-btn-group>
                </div>
                <br>
                <div>
                    Flat
                      <q-btn-group >
                        <q-btn flat color="positive"  label="Active"  />
                        <q-btn flat label="Not active" />
                        <q-btn flat disable label="disabled" :color="'grey'"  />
                    </q-btn-group>
                </div>
                <br>
                <div>
                    Elevated
                      <q-btn-group >
                        <q-btn color="positive" push label="Active"  />
                        <q-btn push label="Not active" />
                        <q-btn push disable label="disabled" :color="'grey'"  />
                    </q-btn-group>
                </div>
            </div>
        </div>
        <div class="styling-template-container">
                
            <div>
                <h4>
                    UI buttons and links
                </h4>
                <div>
                    Flat
                    <q-btn class="underline-text" color="primary" flat label="Link"  />
                </div>
                <br>

                <div>
                    Outline
                    <q-btn class="underline-text" color="primary" outline label="Link"  />
                </div>
                <br>

                <div>
                    Elevated
                    <q-btn push class="underline-text" color="primary"  label="Link" />
                </div>
                <br>
                <div>
                    Disabled  
                    <q-btn push class="underline-text" disable label="disabled Link"  />
                </div>
                <br>
                <div>
                    Button with Icon left +  + align right
                    <q-btn align="right"  class="btn-fixed-width"  color="accent" label="Next" icon-right="arrow_right" />
               
                </div>
                <br>

                <div>
                    Button with Icon right + align left
                    
                    <q-btn align="left" class="btn-fixed-width"  color="secondary" label="Next" icon="arrow_right" />


                </div>
                <br>

                <div>
                    Button with Icon stacked + glossy

                    <q-btn icon="phone" class="btn-fixed-width" label="Stacked" stack glossy color="purple" />


                </div>
            </div>
            <div>
                <h4>Dropdown button</h4>
                <div class="q-pa-md">
                    White item color
                    <q-btn-dropdown color="primary" label="Dropdown Button" dropdown-icon="expand_more" >
                        <q-list >
                            <q-item color="primary" clickable v-close-popup >
                            <q-item-section>
                                <q-item-label>M01</q-item-label>
                            </q-item-section>
                            </q-item>

                            <q-item  color="primary" clickable v-close-popup >
                            <q-item-section>
                                <q-item-label>M02</q-item-label>
                            </q-item-section>
                            </q-item>

                            <q-item color="primary" clickable v-close-popup >
                            <q-item-section>
                                <q-item-label>M07</q-item-label>
                            </q-item-section>
                            </q-item>
                        </q-list>
                    </q-btn-dropdown>
                </div>
                <div class="q-pa-md">
                    CPO Accent item color
                    <q-btn-dropdown color="primary" label="Dropdown Button" dropdown-icon="expand_more" >
                        <q-list>
                            <q-item class="dropdown-item-color-accent" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M01</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item class="dropdown-item-color-accent80" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M02</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item class="dropdown-item-color-accent60" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M03</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item class="dropdown-item-color-accent40" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M04</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item class="dropdown-item-color-accent20" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M05</q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </q-btn-dropdown>
                </div>
                <div class="q-pa-md">
                    CPO Primary item color
                    <q-btn-dropdown color="primary" label="Dropdown Button" dropdown-icon="expand_more" >
                        <q-list>
                            <q-item class="dropdown-item-color-primary" clickable >
                                <q-item-section>
                                    <q-item-label>M01</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item class="dropdown-item-color-primary80" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M02</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item class="dropdown-item-color-primary60" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M03</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item class="dropdown-item-color-primary40" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M04</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item class="dropdown-item-color-primary20" clickable v-close-popup >
                                <q-item-section>
                                    <q-item-label>M05</q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </q-btn-dropdown>
                </div>

            </div>


            <div>
                <h4>
                    Loading
                </h4>
                <q-btn :loading="loading"  color="primary" @click="simulateLoading" label="Submit" />
            </div>
           
        </div>
         
    </div>


</template>
<script>
import { ref } from 'vue'
export default {
    setup() {
        const loading = ref(false)
        const simulateLoading = () => {
            // we set loading state
            loading.value = true

            // simulate a delay
            setTimeout(() => {
                // we're done, we reset loading state
                loading.value = false
            }, 3000)
        }

        const isDisabled = ref(false)
        const toggleButton = ref('ON')
        return {
            loading,
            simulateLoading,
            toggleButton,

            isDisabled,
            toggleDisabled() {
                isDisabled.value = !isDisabled.value
            },

         
        }
    },
}
</script>
<style lang="scss">
.styling-guidelines-buttons{
    display:flex;
    width:1200px;
    flex-direction: column;

}

.styling-template-container {
    display:flex;
    flex-direction: column;
    margin-top:20px;
}

.dropdown-item-color-accent{
    background-color:#005FFF;
}
.dropdown-item-color-accent80{
    background-color:#337FFF;
}
.dropdown-item-color-accent60{
    background-color:#669FFF;
}
.dropdown-item-color-accent40{
    background-color:#99BFFF;
}

.dropdown-item-color-accent20{
    background-color:#CCDFFF;
}

.dropdown-item-color-primary{
    background-color:#000023;
    color:#FFFFFF
}
.dropdown-item-color-primary80{
    background-color:#3E3F4E;
    color:#FFFFFF
}
.dropdown-item-color-primary60{
    background-color:#6E6F7A;
    color:#FFFFFF
}
.dropdown-item-color-primary40{
    background-color:#9E9FA6;
    color:#FFFFFF
}

.dropdown-item-color-primary20{
    background-color:#CFCFD3;
    color:#FFFFFF
}

.underline-text .q-btn__content {
  text-decoration: underline;
}
.btn-fixed-width{
    width: 200px;

}
</style>
