<script setup>
import  ColorRatio from './ColorRatio.vue'
import { ref } from 'vue';


   const backgroundColor= ref('#000000')
   const textColor = ref('#FFFFFF')
   const buttonColor = ref('#005FFF')
   const buttonColorText = ref('#FFFFFF')


</script>
<template>
<div class="styling">
    <div class="styling-template-container">
        <h4>Dynamic contrasts calculator</h4>
        <div :style="{'display':'flex'}">
            <div :style="{'margin-right':'20px'}">
                <span>
                    Background color
                </span>
                <q-color v-model="backgroundColor" class="my-picker" :palette="[
                    '#000023','#3E3F4E','#6E6F7A','#9E9FA6','#CFCFD3','#E7E7E9','#005FFF','#337FFF','#669FFF','#99BFFF','#CCDFFF','#E5EFFF',]" />
            </div>
            <br>
            <div :style="{'margin-right':'20px'}">
                <span>
                    Text color
                </span>
                <q-color  v-model="textColor"  class="my-picker" :palette="[
                    '#000023','#3E3F4E','#6E6F7A','#9E9FA6','#CFCFD3','#E7E7E9','#005FFF','#337FFF','#669FFF','#99BFFF','#CCDFFF','#E5EFFF',      ]" />
            </div>
            <div :style="{'margin-right':'20px'}">
                <span>
                   Button color
                </span>
                <q-color  v-model="buttonColor"  class="my-picker" :palette="[
                    '#000023','#3E3F4E','#6E6F7A','#9E9FA6','#CFCFD3','#E7E7E9','#005FFF','#337FFF','#669FFF','#99BFFF','#CCDFFF','#E5EFFF',      ]" />
            </div>
            <div >
                <span>
                   Button text color
                </span>
                <q-color  v-model="buttonColorText"  class="my-picker" :palette="[
                    '#000023','#3E3F4E','#6E6F7A','#9E9FA6','#CFCFD3','#E7E7E9','#005FFF','#337FFF','#669FFF','#99BFFF','#CCDFFF','#E5EFFF',      ]" />
            </div>
        </div>
        <div :style="{'background-color':backgroundColor}">
            <h3 :style="{'color':textColor}">Dynamic text color</h3>
            <p :style="{'color':textColor}" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </p>
            <q-btn  label="BUTTON TEXT" :style="{'color': `${buttonColorText}`,'background-color': `${buttonColor}`, }" > 
            </q-btn>   

        </div>
        <br>
        <div class="color-ratio-container" >
            <div class="color-ratio-container" >
                <h4>

                    Button & Button text
                </h4>
                <ColorRatio :color1="buttonColor" :color2="buttonColorText"/>
            </div>
            <div class="color-ratio-container" >
                <h4>

                    Text & text background
                </h4>
                <ColorRatio :color1="backgroundColor" :color2="textColor"/>
            </div>

        </div>

    </div>

  
    

</div>
</template>

<style>
.styling {
    display:flex;
    width:1200px;
}

.styling-template-container {
    display:flex;
    flex-direction: column;
}
.styling-template-container-text-color {
    color:#ffffff
}
.my-picker{
    max-width: 250px;
}
.color-ratio-container{
    display:flex;
    flex-direction: column;
    border:2px solid grey;
    background-color: #FFF;
    color:#000;
}
</style>
