<script>
export default {
    data() {
        return {
            randomNumber: 0,
            randomNumber2: 0,
        };
  },
    created() {
        this.generateRandomNumber();
        this.generateRandomNumber2();
  },
    methods: {
        generateRandomNumber() {
            setInterval(() => {
                this.randomNumber = Math.floor(Math.random() * 100);
            }, 1000);
        },
        generateRandomNumber2() {
            setInterval(() => {
                this.randomNumber2 = Math.floor(Math.random() * 100);
            }, 1000);
        },
    }
};
</script>

<template>
<div>
    <div class="">
        <div class="styling-template-container">
            <h4>
                Font and headings
            </h4>
            <div >
                <h1>RM Neue</h1>
                <h2>h2: AaBbCcDdEeFfGgHh 1234567890</h2>
                <h3>h3: AaBbCcDdEeFfGgHh 1234567890</h3>
                <h4>h4: AaBbCcDdEeFfGgHh 1234567890</h4>
                <h5>h5: AaBbCcDdEeFfGgHh 1234567890</h5>
                <h6>h6: AaBbCcDdEeFfGgHh 1234567890</h6>
                bröd
            </div>
            <br>
            <div class="font-rm-neue-semibold" >
                <h1>RM Neue semibold</h1>
                <h2>h2: AaBbCcDdEeFfGgHh 1234567890</h2>
                <h3>h3: AaBbCcDdEeFfGgHh 1234567890</h3>
                <h4>h4: AaBbCcDdEeFfGgHh 1234567890</h4>
                <h5>h5: AaBbCcDdEeFfGgHh 1234567890</h5>
                bröd
            </div>
            <br>
            <div>
                
                <h1 class="font-coanda">Coanda</h1>
                <h2 class="font-coanda">h2: AaBbCcDdEeFfGgHh 1234567890</h2>
                <h3 class="font-coanda">h3: AaBbCcDdEeFfGgHh 1234567890</h3>
                <br>
                <div>

                    <h4>
                        Test number width when they change
                    </h4>
                    <br>
                    RM Neue with tabular-nums
                    <h3 class="font-rm-neue  with-tabular-nums">{{ randomNumber }}|</h3>
                    <h3 class="font-rm-neue  with-tabular-nums">{{ randomNumber2 }}|</h3>
                    RM Neue without tabular-nums
                    
                    <h3 class="font-rm-neue ">{{ randomNumber }}|</h3>
                    <h3 class="font-rm-neue ">{{ randomNumber2 }}|</h3>
                    <br>
                    Coanda with tabular-nums
                    <h3 class="font-coanda  with-tabular-nums">{{ randomNumber }}|</h3>
                    <h3 class="font-coanda  with-tabular-nums">{{ randomNumber2 }}|</h3>
                    
                    Coanda without tabular-nums
                    <h3 class="font-coanda  ">{{ randomNumber }}|</h3>
                    <h3 class="font-coanda  ">{{ randomNumber2 }}|</h3>
                </div>
            </div>   
        </div>
    </div>    
</div>

</template>
<style>
.styling {
    display:flex;
    width:1200px;
}

.border{
    border: 1px solid grey;
}

.styling-template-container {
    display:flex;
    flex-direction: column;
}
.with-tabular-nums{
    font-variant-numeric: tabular-nums;
}

</style>
