<script setup>

</script>
<template>
    <div class="styling">
        <div>
            <h1>Elevation with color contrast - primary color</h1>

            <div class="elevated-primary">
                <h2 class="with-white-text">Elevation Level 0</h2>
                <div>

                    <div class="q-pa-md" style="max-width: 350px">
                        <h3>Some header</h3>

                        <q-list bordered separator class="elevated-primary-1">
                            <q-item-label :style="{ 'color': '#fff' }" header>List Elevated 1</q-item-label>

                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label>Signal</q-item-label>
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label>Value</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item clickable v-ripple>
                                <q-item-section>Hs</q-item-section>
                                <q-item-section>0.3</q-item-section>
                                <q-btn :size="'xs'" color="primary">Click</q-btn>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section>Te</q-item-section>
                                <q-item-section>0.3</q-item-section>
                            </q-item>

                            <q-list bordered separator class="elevated-primary-2">
                                <q-item-label :style="{ 'color': '#fff' }" header>List Elevated 2</q-item-label>

                                <q-item clickable v-ripple>
                                    <q-item-section>
                                        <q-item-label>Signal</q-item-label>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>Value</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item clickable v-ripple>
                                    <q-item-section>Hs</q-item-section>
                                    <q-item-section>0.3</q-item-section>
                                </q-item>

                                <q-item clickable v-ripple>
                                    <q-item-section>Te</q-item-section>
                                    <q-item-section class="font-coanda digit-text-color">0.3</q-item-section>
                                </q-item>


                            </q-list>
                        </q-list>
                    </div>
                </div>

                <div class="q-pa-md elevated-primary-1" style="max-width: 350px">
                    <h3>Some header</h3>
                    <q-list bordered separator class="elevated-primary-2">
                        <q-item clickable v-ripple>
                            <q-item-section>
                                <q-item-label>Signal</q-item-label>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label>Value</q-item-label>
                            </q-item-section>
                        </q-item>
                        <q-item clickable v-ripple>
                            <q-item-section>Hs</q-item-section>
                            <q-item-section>0.3</q-item-section>
                        </q-item>

                        <q-item clickable v-ripple>
                            <q-item-section>Te</q-item-section>
                            <q-item-section>0.3</q-item-section>
                        </q-item>
                    </q-list>
                    <br>
                    <h4>Sub header</h4>
                    <q-list bordered separator class="elevated-primary-2">
                        <q-item clickable v-ripple>
                            <q-item-section>
                                <q-item-label>Signal</q-item-label>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label>Value</q-item-label>
                            </q-item-section>
                        </q-item>
                        <q-item clickable v-ripple>
                            <q-item-section>Hs</q-item-section>
                            <q-item-section>0.3</q-item-section>
                        </q-item>

                        <q-item clickable v-ripple>
                            <q-item-section>Te</q-item-section>
                            <q-item-section>0.3</q-item-section>
                        </q-item>

                        <q-list bordered separator class="elevated-primary-3">
                            <q-item-label :style="{ 'color': '#000' }" header>List Elevated 3</q-item-label>

                            <q-item clickable v-ripple>

                                <q-item-section>
                                    <q-item-label>Signal</q-item-label>
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label>Value</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item clickable v-ripple>
                                <q-item-section>Hs</q-item-section>
                                <q-item-section class="font-coanda digit-text-color">0.93</q-item-section>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section>Te</q-item-section>
                                <q-item-section>1.234</q-item-section>
                            </q-item>
                            <q-list bordered separator class="elevated-primary-4">
                                <q-item-label :style="{ 'color': '#000' }" header>List Elevated 4</q-item-label>

                                <q-item clickable v-ripple>

                                    <q-item-section>
                                        <q-item-label>Signal</q-item-label>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>Value</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item clickable v-ripple>
                                    <q-item-section>Hs</q-item-section>
                                    <q-item-section class="font-coanda digit-text-color">0.3</q-item-section>
                                </q-item>

                                <q-item clickable v-ripple>
                                    <q-item-section>Te</q-item-section>
                                    <q-item-section>0.3</q-item-section>
                                </q-item>


                            </q-list>


                        </q-list>
                    </q-list>
                </div>
            </div>
        </div>
        <div>
            <h1>Elevation with color contrast - accent color</h1>

            <div class="elevated">
                <h2>Elevation Level 0</h2>
                <div>

                    <div class="q-pa-md" style="max-width: 350px">
                        <h3>Some header</h3>

                        <q-list bordered separator class="elevated-1">
                            <q-item-label :style="{ 'color': '#fff' }" header>List Elevated 1</q-item-label>

                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label>Signal</q-item-label>
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label>Value</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item clickable v-ripple>
                                <q-item-section>Hs</q-item-section>
                                <q-item-section>0.3</q-item-section>
                                <q-btn :size="'xs'" color="primary">Click</q-btn>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section>Te</q-item-section>
                                <q-item-section>0.3</q-item-section>
                            </q-item>

                            <q-list bordered separator class="elevated-2">
                                <q-item-label :style="{ 'color': '#fff' }" header>List Elevated 2</q-item-label>

                                <q-item clickable v-ripple>
                                    <q-item-section>
                                        <q-item-label>Signal</q-item-label>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>Value</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item clickable v-ripple>
                                    <q-item-section>Hs</q-item-section>
                                    <q-item-section>0.3</q-item-section>
                                </q-item>

                                <q-item clickable v-ripple>
                                    <q-item-section>Te</q-item-section>
                                    <q-item-section class="font-coanda digit-text-color">0.3</q-item-section>
                                </q-item>


                            </q-list>
                        </q-list>
                    </div>
                </div>

                <div class="q-pa-md elevated-1" style="max-width: 350px">
                    <h3>Some header</h3>
                    <q-list bordered separator class="elevated-2">
                        <q-item clickable v-ripple>
                            <q-item-section>
                                <q-item-label>Signal</q-item-label>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label>Value</q-item-label>
                            </q-item-section>
                        </q-item>
                        <q-item clickable v-ripple>
                            <q-item-section>Hs</q-item-section>
                            <q-item-section>0.3</q-item-section>
                        </q-item>

                        <q-item clickable v-ripple>
                            <q-item-section>Te</q-item-section>
                            <q-item-section>0.3</q-item-section>
                        </q-item>
                    </q-list>
                    <br>
                    <h4>Sub header</h4>
                    <q-list bordered separator class="elevated-2">
                        <q-item clickable v-ripple>
                            <q-item-section>
                                <q-item-label>Signal</q-item-label>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label>Value</q-item-label>
                            </q-item-section>
                        </q-item>
                        <q-item clickable v-ripple>
                            <q-item-section>Hs</q-item-section>
                            <q-item-section>0.3</q-item-section>
                        </q-item>

                        <q-item clickable v-ripple>
                            <q-item-section>Te</q-item-section>
                            <q-item-section>0.3</q-item-section>
                        </q-item>

                        <q-list bordered separator class="elevated-3">
                            <q-item-label :style="{ 'color': '#000' }" header>List Elevated 3</q-item-label>

                            <q-item clickable v-ripple>

                                <q-item-section>
                                    <q-item-label>Signal</q-item-label>
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label>Value</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item clickable v-ripple>
                                <q-item-section>Hs</q-item-section>
                                <q-item-section class="font-coanda digit-text-color">0.93</q-item-section>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section>Te</q-item-section>
                                <q-item-section>1.234</q-item-section>
                            </q-item>
                            <q-list bordered separator class="elevated-4">
                                <q-item-label :style="{ 'color': '#000' }" header>List Elevated 4</q-item-label>

                                <q-item clickable v-ripple>

                                    <q-item-section>
                                        <q-item-label>Signal</q-item-label>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>Value</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item clickable v-ripple>
                                    <q-item-section>Hs</q-item-section>
                                    <q-item-section class="font-coanda digit-text-color">0.3</q-item-section>
                                </q-item>

                                <q-item clickable v-ripple>
                                    <q-item-section>Te</q-item-section>
                                    <q-item-section>0.3</q-item-section>
                                </q-item>


                            </q-list>


                        </q-list>
                    </q-list>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
.styling {
    display: flex;
    width: 1200px;
}

.styling-template-container {
    display: flex;
    flex-direction: column;
}

.styling-template-container-text-color {
    color: #ffffff
}

.digit-text-color {
    color: #005fff;
}

.with-white-text {
    color: #ffffff
}
</style>
