<script setup>
import TheHeader from './components/layout/TheHeader.vue'
import TheLeftSideBar from './components/layout/TheLeftSideBar.vue'
</script>

<template>
    <q-layout view="hHh LpR fFf">
        <TheHeader />

        <TheLeftSideBar> </TheLeftSideBar>

        <q-drawer
            show-if-above
            v-model="rightDrawerOpen"
            side="right"
            behavior="desktop"
            bordered
        >
            <!-- drawer content -->
        </q-drawer>

        <q-page-container>
            <router-view />
        </q-page-container>

        <q-footer elevated class="bg-grey-8 text-white">
            <q-toolbar>
                <q-toolbar-title>
                    <q-avatar>
                        <img
                            src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg"
                        />
                    </q-avatar>
                    <div>Title</div>
                </q-toolbar-title>
            </q-toolbar>
        </q-footer>
    </q-layout>
</template>

<script>
import { ref } from 'vue'

export default {
    setup() {
        const leftDrawerOpen = ref(false)
        const rightDrawerOpen = ref(false)

        return {
            leftDrawerOpen,
            toggleLeftDrawer() {
                leftDrawerOpen.value = !leftDrawerOpen.value
            },

            rightDrawerOpen,
            toggleRightDrawer() {
                rightDrawerOpen.value = !rightDrawerOpen.value
            },
        }
    },
}
</script>
