<!--
This example demonstrates handling user input with the v-on directive.
-->

<script setup>
import { ref } from 'vue'
import { ApiBaseClass } from '@shared/services/apiBaseClass'
import { Dark } from 'quasar'


const message = ref('Hello World!')


const toggleDarkMode = () => {

    console.log("Dark mode:", Dark.isActive)
    Dark.toggle()
}



async function notify() {
    let api = new ApiBaseClass()

    try {
        const res = await api.get()
        console.log('res', res)
    } catch (error) {
        console.log(error)
    }
}
</script>

<template>
    <!--     <q-toolbar>
        <div>HEJ</div>
        <q-btn dense flat round icon="menu" />

        <q-toolbar-title>
            <q-avatar>
                <img
                    src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg"
                />
            </q-avatar>
            Title
        </q-toolbar-title>

        <q-btn dense flat round icon="menu" />
    </q-toolbar> -->
    <q-header elevated class="bg-primary text-white">
        <div>{{ message }}</div>
        <div>HEJ2</div>
        <div>HEJ2</div>
        <div>HEJ2</div>

        <button @click="notify">Test</button>
        <q-btn @click="toggleDarkMode">
            Toggle Dark mode
        </q-btn>
    </q-header>
</template>
