<template>
    <q-drawer
        show-if-above
        side="left"
        behavior="desktop"
        v-model="drawer"
        :mini="miniState"
        @mouseover="miniState = false"
        @mouseout="miniState = true"
        :width="350"
        :breakpoint="500"
        bordered
        mini-to-overlay
        persistent
        :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-grey-3'"
    >
        <q-scroll-area class="fit" :horizontal-thumb-style="{ opacity: 0 }">
            <q-list bordered class="rounded-borders">
                <q-item to="/" active clickable v-ripple>
                    <q-item-section avatar>
                        <q-icon name="star" />
                    </q-item-section>
                    <q-item-section> Home </q-item-section>
                </q-item>
                <q-expansion-item
                    :content-inset-level="0.5"
                    expand-separator
                    icon="mail"
                    label="Modules"
                    caption="5 unread emails"
                    default-opened
                >
                    <q-item to="/about" active clickable v-ripple>
                        <q-item-section avatar>
                            <q-icon name="star" />
                        </q-item-section>
                        <q-item-section> PTC </q-item-section>
                    </q-item>
                    <q-item active clickable v-ripple>
                        <q-item-section avatar>
                            <q-icon name="star" />
                        </q-item-section>
                        <q-item-section> WSP </q-item-section>
                    </q-item>
                    
                </q-expansion-item>
            </q-list>

            <q-list padding>
            
                <q-expansion-item
                    :content-inset-level="0.5"
                    expand-separator
                    icon="style"
                    label="Styling guidelines"
                    default-opened
                >
                    <q-item to="/style/fonts"  clickable v-ripple>
                        <q-item-section avatar>
                            <q-icon name="text_fields" />
                        </q-item-section>
                        <q-item-section> Fonts </q-item-section>
                    </q-item>
                    <q-item to="/style/elevation" clickable v-ripple>
                        <q-item-section avatar>
                            <q-icon name="layers" />
                        </q-item-section>
                        <q-item-section> Elevation </q-item-section>
                    </q-item>
                    <q-item   to="/style/buttons" clickable v-ripple>
                        <q-item-section avatar>
                            <q-icon name="add_circle" />
                        </q-item-section>
                        <q-item-section> Buttons </q-item-section>
                    </q-item>
                    <q-item   to="/style/color-contrast" clickable v-ripple>
                        <q-item-section avatar>
                            <q-icon name="format_color_fill" />
                        </q-item-section>
                        <q-item-section> Color Contrast </q-item-section>
                    </q-item>
                    <q-item   to="/style/examples" clickable v-ripple>
                        <q-item-section avatar>
                            <q-icon name="format_color_fill" />
                        </q-item-section>
                        <q-item-section> Examples </q-item-section>
                    </q-item>
                    
                    
                </q-expansion-item>
            </q-list>
        </q-scroll-area>
    </q-drawer>
</template>

<script>
import { ref } from 'vue'

export default {
    setup() {
        return {
            drawer: ref(false),
            miniState: ref(true),
        }
    },
}
</script>
