$white: #FFFFFF;

/*Navy Blue*/

/*Navy Blue gradient*/
$primary: #000023; 
$primary80: #3E3F4E;
$primary60: #6E6F7A;
$primary40: #9E9FA6;
$primary20: #CFCFD3;
$primary10: #E7E7E9;


/*Clear Blue*/
$accent: #005FFF; 

/*Clear Blue gradient*/
$accent80: #337FFF;
$accent60: #669FFF;
$accent40: #99BFFF;
$accent20: #CCDFFF;
$accent10: #E5EFFF;

/*Greyscale*/
$darkgrey: #575756;
$mediumgrey: #B1B2B3;
$lightgrey: #C4C5C5;

$yellow: #FADD37;


/* 
// Colors from C4 HMI
// $cpoCoal : "rgb(26, 26, 26)";
// $cpoGrey : "rgb(247, 245, 245)";
// $cpoGreyGreyedOut : "rgba(247, 245, 245, 0.5)";
// $cpoNavyBlue : "rgb(32, 60, 83)";
// $cpoNavyBlueShadow : "rgba(32, 60, 83, 0.25)";
// $cpoSoftGreen : "rgb(152, 209, 199)";
// $cpoSoftGreenShadow : "rgba(152, 209, 199,0.5)";
// $cpoCoralRed : "rgb(210, 63, 30)";
// $cpoCoralRedShadow : "rgba(210, 63, 30,0.5)";
// $cpoWarmGrey : "rgb(148, 146, 144)";
// $cpoWarmGreyDark : "rgb(148/1.5, 146/1.5, 144/1.5)";
// $coldBlue : "rgb(100,149,237)";
// $coldBlueShadow : "rgba(100,149,237,0.5)";
*/
