@import './base.css';
@import './colors.scss';
@import './main.scss';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'RM Neue';
    font-weight: normal;
    background: $primary60;
  
}

h1,h2,h3,h4 {
 
  font-family: 'RM Neue';
}




.font-coanda {
  font-family: "Coanda", sans-serif;
  font-weight: bold;
  /* font-variant-numeric: tabular-nums; */
}

.font-rm-neue {
  font-family: 'RM Neue';
  font-weight: normal;
  /* font-variant-numeric: tabular-nums; */
}

.font-rm-neue-semibold {
  font-family: 'RM Neue';
  font-weight: 600;
  /* font-variant-numeric: tabular-nums; */
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

/* @media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
} */
