@import './colors.scss';

@mixin elevation($level) {
    @if $level == 1 {
        background: $accent80;
    } 
    @else if $level == 2 {
        background: $accent60;
    } 
    @else if $level == 3 {
        background: $accent40;
    }
    @else if $level == 4 {
        background: $accent20;
    }
    @else {
        background:$accent;
    }
};

@mixin elevation-primary($level) {
    @if $level == 1 {
        background: $primary80;
    } 
    @else if $level == 2 {
        background: $primary60;
    } 
    @else if $level == 3 {
        background: $primary40;
    }
    @else if $level == 4 {
        background: $primary20;
    }
    @else {
        background:$primary;
    }
};


.elevated {
    padding: 15px;
    @include elevation(0);
} 
.elevated-1 {
    @extend .elevated;
    @include elevation(1);
}
.elevated-2 {
    @extend .elevated;
    @include elevation(2);
}
.elevated-3 {
    @extend .elevated;
    @include elevation(3);
}
.elevated-4 {
    @extend .elevated;
    @include elevation(4);
}

.elevated-primary{
    padding: 15px;
    color:#FFFFFF;

    @include elevation-primary(0);

} 
.elevated-primary-1 {
    @extend .elevated;
    @include elevation-primary(1);
}
.elevated-primary-2 {
    @extend .elevated;
    @include elevation-primary(2);
}
.elevated-primary-3 {
    @extend .elevated;
    @include elevation-primary(3);
    color:#000;
}
.elevated-primary-4 {
    @extend .elevated;
    @include elevation-primary(4);
    color:#000;

}


